[Unit]
Description=My Python Application Service
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
Type=simple
User=root
WorkingDirectory=/home/nathan/Documents/pi-led-project
ExecStart=sudo /home/nathan/Documents/pi-led-project/venv/bin/uvicorn run_server:app --host 0.0.0.0 --port 8000 --timeout-graceful-shutdown=3
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target