<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartHome</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/webweaver_logo.png') }}" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <!-- Javascript -->
    <script type="module" src="{{ url_for('static', filename='javascript/index.js') }}"></script>
    <!-- Extra Content for sub-files -->
    {% block head_more %}{% endblock %}
</head>
<body class="dark">
    <header>
        <!-- Desktop header -->
        <div id="header">
            <div id="tab-container">
                <!-- Hamburger + Logo only shows on small screens -->
                <div class="hamburger" id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="logo-container">
                    <img src="{{ url_for('static', filename='images/webweaver_logo.png') }}" alt="WebWeaver Logo" id="image-logo">
                    <a class="nav-bar-tab" href="/">Home</a>
                </div>
                <!-- Tabs like this only show on desktop screens -->
                <a class="nav-bar-tab" href="/overview">Overview</a>
            </div>
            <div id="control-tab-container">
                <button id="dark-mode-button">&#127774;</button>
                {% if current_user.is_authenticated %}
                    <a class="nav-bar-tab" href="/profile">Welcome, {{ logged_in_user_info.username }}</a>
                {% else %}
                    <a class="nav-bar-tab" href="/login">Login</a>  
                {% endif %}
            </div>
        </div>

        <!-- Mobile Header only shows on small screens -->
        <nav class="menu" id="menu">
            <a href="/">Home</a>
            <a href="/overview">Overview</a>
            {% if current_user.is_authenticated %}
                <a href="/profile">Profile</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </nav>
        <!-- Overlay when menu is open -->
        <div class="overlay" id="overlay"></div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>