{% extends "base.html" %}

{% block head_more %}
    <!-- Javascript -->
    <script type="module" src="{{ url_for('static', filename='javascript/profile.js') }}"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="profile-header">
            <div class="profile-left">
                <div class="profile-photo">
                    <img src="{{ url_for('static', filename='images/user_profiles/' ~ logged_in_user_info.user_profile_path) }}" alt="Profile Photo">
                    <div class="edit-icon">✎</div>
                </div>
                <h2>Profile Settings</h2>
            </div>
            <div class="profile-header-right">
                <a href="/logout" class="btn-logout">Logout</a>
            </div>
        </div>

        <form style="display: flex; flex-direction: column" id="apply-changes-form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" value="{{ logged_in_user_info.username }}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="{{ logged_in_user_info.email }}">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phone_number" value="{{ logged_in_user_info.phone_number }}">
            </div>
            <div id="error-text" class="error-matching-text"></div>
            <button type="submit" class="btn-primary" style="align-self: center;">Apply Changes</button>
        </form>

        <div class="settings-section">
        <h3>General Settings</h3>

        <div class="settings-item">
            <span>Dark Mode</span>
            <label class="toggle-switch">
            <input type="checkbox" id="darkToggle">
            <span class="slider"></span>
            </label>
        </div>

        <div class="settings-item">
            <span>Reset Password</span>
            <a href="/reset_password" class="btn-primary">Reset Password</a>
        </div>

        <div class="settings-section">
        <h3>Color Picker</h3>

        <form style="display: flex; flex-direction: column" id="change-color-form">
            <div class="form-group">
                <label for="cal_event_color">Calendar Event Color</label>
                <input type="color" id="cal_event_color" name="cal_event_color" value="{{ logged_in_user_info.cal_event_color }}">
            </div>
            <div class="form-group">
                <label for="todo_event_color">To-Do Event Color</label>
                <input type="color" id="todo_event_color" name="todo_event_color" value="{{ logged_in_user_info.todo_event_color }}">
            </div>

            <button type="submit" class="btn-primary" style="align-self: center;">Change Colors</button>
        </form>
    </div>
{% endblock %}