{% extends "base.html" %}

{% block head_more %}
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset_password.css') }}">
    <!-- Javascript -->
    <script type="module" src="{{ url_for('static', filename='javascript/authentication.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="profile-card">
        <h2>Reset Your Password</h2>
        
        <!-- Password reset form -->
        <form id="reset-password">
            <div id="error-text" class="error-matching-text">Passwords do not match</div>
            <input type="password" name="password" placeholder="New Password" required>
            <input type="password" name="password_verify" placeholder="Confirm Password" required>
            <input type="hidden" name="username" value="{{ logged_in_user_info.username }}" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
{% endblock %}