/* Color Styling Variables */
:root {
    --bg-color: linear-gradient(180deg,rgba(99, 211, 255, 1) 25%, rgba(230, 186, 255, 1) 100%);
    --text-color: #111827;
    --form-bg: #ffffff;
    --input-bg: #ffffff;
    --input-border: #d1d5db;
    --input-focus: #3b82f6;
    --divider-color: #e5e7eb;
    --oauth-hover: #f9fafb;
    --btn-primary: #3b82f6;
    --btn-primary-hover: #2563eb;
}
/* change for dark mode */
body.dark {
    --bg-color: linear-gradient(180deg,rgba(224, 167, 96, 1) 0%, rgba(140, 152, 212, 1) 80%);
    --text-color: #f9fafb;
    --form-bg: #1f2937;
    --input-bg: #374151;
    --input-border: #4b5563;
    --input-focus: #60a5fa;
    --divider-color: #374151;
    --oauth-hover: #1f2937;
    --btn-primary: #3b82f6;
    --btn-primary-hover: #2563eb;
  }

/* Tags Styling */
* {
    box-sizing: border-box; /* border box means that padding + border included in width + height */
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    background: var(--bg-color);
    /* vh - viewport height; dvh - viewport height based on whether browser tools open/closed; lvh - vh when closed; svh - vh when tools opened */
    min-height: 100dvh;
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 90px); /* max height minus height of header */
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

/* General error matching styling - included in all */
.error-matching-text {
    display: none;
    align-self: center;
    color: red;
    text-align: center;
}

.show-error-matching {
    display: block;
    align-self: center;
    color: red;
    text-align: center;
}

/* Home-Page styling (should separate out) */
#overview-flexbox {
    display: flex; 
    column-gap: 10%;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
}

.service-links {
    /* control the border and spacing of service blocks */
    border: 3px solid rgba(40, 40, 40, 10);
    padding: 30px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* ensure there is a max of 3 services per line */
    flex: 0 0 calc(33.333% - 10%);
    /* ensure all the services have the same height and min width (otherwise would shrink based on service size looks weird) */
    height: 100px;
    min-width: 200px;
    /* ensure text of all services is centered horizontally + vertically */
    font-size: larger;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* style text accordingly */
    text-decoration: none;
    color: white;
}


/* Header NAV Bar styling */
#header{
    display: flex; 
    justify-content: space-between;
    width: 100vw;
    background-color: black;
    height: 90px;
}

#image-logo {
    max-height: 7vh;
}

#logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
}

/* Desktop Top Bar Header */
#tab-container {
    display: flex;
    align-items: center;
}

#control-tab-container {
    display: flex;
    align-items: center;
    margin-right: 3vw;
}

#dark-mode-button {
    cursor: pointer;
    background: inherit;
    border: none;
    font-size: larger;
    border-radius: 50%;
    padding: 2vh 1vw;
}

#dark-mode-button:hover {
    background-color: rgba(40, 40, 40, 10); 
}

.nav-bar-tab {
    font-weight: bold;
    min-width: fit-content;
    padding: 2vh 1vw;
    border-radius: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.nav-bar-tab:hover {
    cursor: pointer;
    background-color: rgba(40, 40, 40, 10); 
    text-decoration: underline;
}

/* Mobile Side Menu */
.hamburger {
    width: 30px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1001;
    margin-left: 20px;
}

.hamburger span {
    display: none;
    height: 4px;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
}

/* Sidebar menu (start hidden offscreen) - cannot be display none otherwise transition would not work */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #222;
    color: white;
    padding: 60px 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transform: translateX(-100%); /* hide offscreen */
    transition: transform 0.35s ease;
    z-index: 1000;
}

.menu.active {
    transform: translateX(0); /* slide in */
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.35s ease;
    z-index: 999;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* On smaller screens hide desktop and activate mobiel search */
/* Media tags should always be at bottom of CSS so they are not overridden */
@media screen and (max-width: 768px) {
    /* Hiding desktop nav menu options */
    .nav-bar-tab {
        display: none;
    }

    #dark-mode-button {
        display: none;
    }
    /* showing mobile nav options */
    .hamburger {
        display: flex;
    }

    .hamburger span {
        display: block;
    }

    /* on small screens adjust the min-width so that we can get two services per line */
    .service-links {
        min-width: 150px;
    }
}